{% trans_default_domain 'FOSUserBundle' %}
<link rel="stylesheet" type="text/css" href="/css/login.css">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="loginPage text-center backg">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <h1 class="text-center text-white">LOGIN</h1>
    {% if error %}
        <div class=" text-white bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
        <input type="text" class="form-control" placeholder="Username" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" aria-label="Username" aria-describedby="basic-addon1" />
       {# <input type="text" class="form-control" placeholder="Username" >#}
    </div>
    <div class="input-group mb-3">
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password" />
        <div class="input-group-append">
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </div>
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label class="text-white" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <a href="{{ path('fos_user_resetting_request') }}" class="btn">Forgot your password</a>
        <a href="{{ path('fos_user_registration_register') }}" class="btn">Register</a>

    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
    </div>
</form>

