{% extends 'base.html.twig' %}

{% block title %}ServicesCategory{% endblock %}

{% block body %}
    <h1>ServicesCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ services_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ services_category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_services_category_index') }}">back to list</a>

    <a href="{{ path('admin_services_category_edit', {'id': services_category.id}) }}">edit</a>

    {{ include('admin/services_category/_delete_form.html.twig') }}
{% endblock %}