{% trans_default_domain 'FOSUserBundle' %}
<div class="jumbotron mt-4">
    <h1 class="display-4 text-secondary text-center">Edit profile</h1>
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <a href="{{ path('fos_user_change_password') }}">Change password</a><br>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        <a class="btn btn-secondary" href="{{ path('fos_user_profile_show') }}">Go back</a>
    </div>
</div>
{{ form_end(form) }}
