{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Services</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Available</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.available ? 'Yes' : 'No' }}</td>
                <td>{{ service.price }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('service_show', {'id': service.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('service_new') }}">Create new</a>
        <a class="btn btn-secondary" href="{{ path('admin_index') }}">Go back</a>
    </div>
{% endblock %}