{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-4 text-secondary text-center">Services</h1>
    {% if is_granted('ROLE_ADMIN')%}
        <div class="container">


            <table class="table table-striped table-bordered">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Available</th>
                    <th>Price, €</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.title }}</td>
                        <td>{{ service.available ? 'Yes' : 'No' }}</td>
                        <td>{{ service.price }}</td>
                        <td>
                            <a class="btn btn-dark" href="{{ path('service_show', {'id': service.id}) }}">show</a>
                            <a class="btn btn-warning" href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center">
                <a class="btn btn-primary" href="{{ path('service_new') }}">Create new</a>
                <a class="btn btn-secondary" href="{{ path('admin_index') }}">Go back</a>
            </div>

        </div>
    {% else %}
        <div class="container">
            <table class="table table-striped table-bordered">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Title</th>
                    <th>Price, €</th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.title }}</td>
                        <td>{{ service.price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="text-center">
            <a class="btn btn-secondary" href="{{ path('index') }}">Go back</a>
        </div>
        </div>
    {% endif %}
{% endblock %}