{#
{% extends 'base.html.twig' %}

{% block title %}Edit Visit{% endblock %}

{% block body %}
    <h1>Edit Visit</h1>

    {{ include('visit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('visit_index') }}">back to list</a>

    {{ include('visit/_delete_form.html.twig') }}
{% endblock %}
#}

{% extends 'base.html.twig' %}

{% block title %}Edit Visit{% endblock %}

{% block body %}
    <div class="jumbotron mx-4 my-4">
        <div class="container text-center">
            <h1 class="display-4">Edit Visit</h1>
        </div>

        {{ include('visit/_form.html.twig', {'button_label': 'Update'}) }}

        <hr>

        <div class="text-center">
            <a class="btn btn-primary" href="{{ path('visit_index') }}">Back to list</a>
            {{ include('visit/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}