{% trans_default_domain 'FOSUserBundle' %}


<link rel="stylesheet" type="text/css" href="/css/login.css">

<div class="backg text-white loginPage">
    <h1 class="text-center text-white">REGISTRATION</h1>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form.email,{'attr':{'placeholder':'Email'}}) }}<br>
    {{ form_widget(form.username,{'attr':{'placeholder':'Username'}}) }}
    {{ form_widget(form.plainPassword) }}
    <input class="btn btn-primary btn-lg" type="submit" value="{{ 'registration.submit'|trans }}" />
    <a href="{{ path('fos_user_security_login') }}" class="btn">Already a member</a>
</div>
{{ form_end(form) }}
