{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4">Services</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Available</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.id }}</td>
                    <td>{{ service.title }}</td>
                    <td>{{ service.available ? 'Yes' : 'No' }}</td>
                    <td>{{ service.price }}</td>
                    <td>{{ service.available ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('admin_service_show', {'id': service.id}) }}">Show</a>
                        <a class="btn btn-warning" href="{{ path('admin_service_edit', {'id': service.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container text-center">

        </div>
    </div>
{% endblock %}