<div class="container my-4" align="center">
<table class="table table-striped text-center table-bordered">
    <thead class="bg-secondary text-white">
    <tr>
        <th scope="col-4">List</th>
        <th scope="col-8">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Clients</td>
        <td>
            <a href="{{ path('admin_clients') }}" class="btn btn-dark">Review</a>
        </td>
    </tr>
    <tr>
        <td>Services</td>
        <td>
            <a href="{{ path('admin_services') }}" class="btn btn-dark">Review</a>
        </td>
    </tr>
    <tr>
        <td>Cars</td>
        <td>
            <a href="{{ path('admin_cars') }}" class="btn btn-dark">Review</a>
        </td>
    </tr>
    <tr>
        <td>Category</td>
        <td>
            <a href="{{ path('admin_services_category_index') }}" class="btn btn-dark">Review</a>
        </td>
    </tr>
    <tr>
        <td>Subcategory</td>
        <td>
            <a href="{{ path('admin_services_sub_category_index') }}" class="btn btn-dark">Review</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
