{% extends 'base.html.twig' %}
{% block title %}{{controller_name}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4">Services</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.title }}</td>
                    <td>{{ service.price }}</td>
                    <td> <a class="btn btn-primary disabled" href="">Mark as done</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="container text-center">
            <a class="btn btn-dark" href="{{ path('admin_index') }}">Go back</a>
            <a class="btn btn-warning" href="{{ path('admin_order_done', {
                id: car.id
            }) }}" >Mark as repaired</a>
        </div>
    </div>
{% endblock %}