{% extends 'base.html.twig' %}

{% block title %}ServicesSubCategory{% endblock %}

{% block body %}
    <h1>ServicesSubCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ services_sub_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ services_sub_category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('services_sub_category_index') }}">back to list</a>

    <a href="{{ path('services_sub_category_edit', {'id': services_sub_category.id}) }}">edit</a>

    {{ include('services_sub_category/_delete_form.html.twig') }}
{% endblock %}