{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-secondary text-center">Orders</h1>

        <table class="table table-striped table-bordered">
            <thead class="bg-primary text-white">
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
                <th>Total price</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.date ? order.date|date('Y-m-d H:i') : '' }}</td>
                    <td {% if order.status == "Done" %} class="text-success"{% else %} class="text-danger" {% endif %}>
                        {{ order.status }}
                    </td>
                    <td>
                        <form action="{{ path('order_edit', {'id': order.id}) }}">
                            <a class="btn btn-dark" href="{{ path('order_show', {'id': order.id}) }}">show</a>
                            <button type="submit" class="btn btn-warning" {% if order.status == "Done" %} disabled {% endif %}href="{{ path('order_edit', {'id': order.id}) }}">edit</button>
                            {% if order.cheque is empty %}<a class="btn btn-danger" href="{{ path('cheque_new', {'price': order.calculate, 'id':order.id}) }}">pay</a>
                            {% else %} <a class="btn btn-success text-white">paid</a>
                                {% endif %}
                        </form>

                    </td>
                    <td>{{ order.calculate|localizedcurrency('EUR') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center container">
            <a class="btn btn-primary" href="{{ path('order_new') }}">Create new</a>
            <a class="btn btn-secondary" href="{{ path('index') }}">Go back</a>
        </div>
    </div>
{% endblock %}