{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
<a class="btn btn-secondary" href="{{ path('fos_user_profile_show') }}">Go back</a>
{{ form_end(form) }}