{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="jumbotron mx-4 my-4">
        <h1 class="display-4">Service</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ service.title }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ service.available ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ service.price }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="{{ path('admin_services') }}">Back to list</a>

        <a class="btn btn-warning" href="{{ path('admin_service_edit', {'id': service.id}) }}">Edit</a>

        <hr>

        {{ include('admin/service_delete_form.html.twig') }}
    </div>
{% endblock %}